@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url("./fonts/Gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url("./fonts/Gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url("./fonts/Gilroy/Gilroy-Bold.ttf");
}
body {
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.intro-section {
  background: linear-gradient(90deg, #f9f1e7 0% 67%, #fcf8f3 67% 100%);
}
.intro-section header {
  padding: 10px 0;
  color: #898989;
  text-align: center;
}
.intro-section header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.intro-section header nav ul li {
  margin: 0 15px;
}
.intro-section header nav ul li a {
  color: #898989;
  text-decoration: none;
  font-weight: bold;
}
.intro-section .intro-description {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.72);
  padding: 60px;
  max-width: 494px;
  box-sizing: border-box;
}
.intro-section .intro-description h1 {
  margin: 0;
  color: #3a3a3a;
  font-weight: 700;
  font-size: 56px;
}
.intro-section .intro-description p {
  color: #898989;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.intro-section .intro-description button {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background-color: #e89f71;
  width: 374px;
  height: 78px;
  border: none;
  cursor: pointer;
}
.intro-section .product-navigation {
  margin: 22px 0;
  padding-left: 32px;
  box-sizing: border-box;
  width: calc(100% - 494px);
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-section .product-navigation button {
  font-size: 25px;
  font-weight: 500;
  border: none;
  width: 48px;
  height: 48px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e89f71;
  transition: all 0.5s ease-out;
}
.intro-section .product-navigation button#prev-button {
  background-color: rgba(232, 159, 113, 0.3);
  color: #e89f71;
}
.intro-section .product-navigation button#prev-button:hover {
  background-color: rgba(221, 114, 47, 0.3);
}
.intro-section .product-navigation button#next-button {
  color: #ffffff;
}
.intro-section .product-navigation button#next-button:hover {
  background-color: #f3ccb3;
}
.intro-section .product-navigation .indicators {
  display: flex;
  gap: 14px;
  align-items: center;
}
.intro-section .product-navigation .indicators .indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #d8d8d8;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.intro-section .product-navigation .indicators .indicator.active {
  background-color: #e89f71;
  background-clip: content-box;
  padding: 8px;
  border: 1px solid #e89f71;
  transition: all 3s ease-out;
}
.intro-section .carousel-container {
  display: flex;
  position: relative;
  overflow: hidden;
}
.intro-section .carousel {
  display: flex;
  gap: 20px;
}
.intro-section .product img {
  width: 934px;
  height: 553px;
  object-fit: cover;
}
.intro-section .product.current-product .product-description {
  position: absolute;
  bottom: 40px;
  right: 66px;
}
.intro-section .product.current-product .product-description h3 {
  font-size: 1.5em;
  color: #3a3a3a;
}
.intro-section .product.current-product .product-description p {
  color: #ffffff;
}
.intro-section .product.current-product .product-description img {
  width: 24px;
  height: 24px;
}
.intro-section .product.transition {
  transition: transform 0.5s ease-in-out;
}

footer {
  background-color: #f9f1e7;
  padding: 10px 0;
  color: #898989;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
